
body {

font-family: Arial, Helvetica, sans-serif;


}


.inputder {

float: right;
    
}


h3 {

color: blue;


}

.imgderecha {

float:right;

}


.imgagencent {

text-align: center;

}


.tdizquierda {

float: left;


}



.label1 {


float: right;


}



.footer {

background: rgb(124, 204, 228);


}


